<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>PROYECTO DE RECUPERACION DE LA INFORMACION</h1>
            <form action="/" method="post">
                <label for="consulta">Consulta:</label>
                <input type="text" id="consulta" name="consulta">
                <button type="submit">Buscar</button>
            </form>
        </div>
        
        {% if consulta %}
        <h2>Resultados para "{{ consulta }}"</h2>
        
        <div class="results">
            <h3>Resultados BoW</h3>
            {% for archivo, similitud, contenido in resultados_bow %}
            <div class="result-box">
                <strong>Archivo:</strong> {{ archivo }} <br>
                <strong>Similitud:</strong> {{ similitud }} <br>
                <strong>Contenido:</strong> {{ contenido }} <br>
            </div>
            {% endfor %}
        </div>
        
        <div class="results">
            <h3>Resultados TF-IDF</h3>
            {% for archivo, similitud, contenido in resultados_tfidf %}
            <div class="result-box">
                <strong>Archivo:</strong> {{ archivo }} <br>
                <strong>Similitud:</strong> {{ similitud }} <br>
                <strong>Contenido:</strong> {{ contenido }} <br>
            </div>
            {% endfor %}
        </div>
        
        <div class="metrics">
            <h2>Métricas de Evaluación del Sistema</h2>
            <table>
                <tr>
                    <th></th>
                    <th>Precisión</th>
                    <th>Recall</th>
                    <th>F1-score</th>
                </tr>
                <tr>
                    <td><strong>BoW</strong></td>
                    <td>{{ promedio_precision_bow }}</td>
                    <td>{{ promedio_recall_bow }}</td>
                    <td>{{ promedio_f1_bow }}</td>
                </tr>
                <tr>
                    <td><strong>TF-IDF</strong></td>
                    <td>{{ promedio_precision_tfidf }}</td>
                    <td>{{ promedio_recall_tfidf }}</td>
                    <td>{{ promedio_f1_tfidf }}</td>
                </tr>
            </table>
        </div>
        
        {% else %}
        <p>Ingrese una consulta para buscar.</p>
        {% endif %}
    </div>
</body>
</html>
